html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow: auto;
    overflow-x: hidden;
    color: white;
    width: 100%;
}

nav {
    background-color: #1f2136;
    color: white;
    position: fixed;
    width: 100%;
    top: 0;
    padding: 10px;
    z-index: 999;
}

nav h1 {
    display: inline;
    margin: 0;
    margin-left: 5px;
}

nav ul {
    display: inline;
    list-style-type: none;
    margin: 0;
}

nav ul li:first-child {
    margin-right: 30px;
}

nav ul li {
    float: right;;
    margin-right: 10px;
    padding: 4px 10px;
}
nav ul li a {
    color: white;
    text-decoration: none;
}


.jumbotron .container {
    background-color: #23253a;
    padding: 0;
    height: auto;
    padding: 20px;
   
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    
}

.jumbotron .container div{
    width: 40%;
}

.jumbotron .container img {
    width: 100%;
    height: 100%;
}

.jumbotron .btn {
    color: white;
    text-decoration: none;
    padding: 7px 12px;
    background-color: rgba(255, 0, 0, 0.5); 
    border-radius: 4px;
    transition: background-color .3s;
}
.jumbotron .btn:hover {
    background-color: rgba(255, 0, 0, 0.8);
}

.products {
    background-color: #1f2136;
    padding: 20px;
    padding-top: 60px;
    text-align: center;
}
.products .caption, .products .price, .products .rating {
    color: #dc3545
}

.products h2{
    margin-top: 2px;
}

.products input[type="text"] {
    color: white;
    width: 60%;
    height: 30px;
    box-sizing: border-box;
    margin-bottom: 25px;
    padding: 10px;
    background-color: #23253a;
    border: none;
    border-radius: 5px;
    font-family: 'Poppins', Arial, sans-serif;
}

.products input[type="text"]::placeholder {
    color: white;
}   

.products input[type="text"]:focus {
    outline: none;
    border: 1.5px solid #dc3545;
}
.products .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.products .item {
    width: 20%;
    margin: 10px;
    background-color: #23253a;
    border-radius: 4px;
    text-align: center;
    font-size: 14px;
    transition: transform .2s;
}

.products .item:hover{
    transform: scale(1.1);
}
.products .item-content {
    padding: 10px;
}
.products .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.products .item h3 {
    color : #dc3545;
}

.products .price, .products .rating {
    font-size: 18px;
    font-weight: bold;
    margin: 0 20px;
}
.products .checked {
    color: #dc3545;
}


footer {
    background-color: #23253a;
    text-align: center;
    padding: 4px;
    color: white;
}

@media screen and (max-width: 600px) {
    nav ul li{
        padding: 4px 0;
    }
    .jumbotron .container {
        flex-direction: column;
        text-align: center;
        padding: 50px 0;
    }
    .jumbotron .container div{
        width: 100%;
    }
    .jumbotron .content {
        margin-top: -40px;
    }

    .products{
        padding: 20px 10px;
    }
    .products .container .item{
       width: 40%
    }
    .products .price, .products .rating {
        font-size: 18px;
        font-weight: bold;
        margin: 0 8px;
    }
    
}